<div class="container">
  <h2 class="order-title"><%= @event.title%> Orders</h2>
  <div class="row">
    <div class="col-md-12">
      <table class="orders">
        <tr>
          <th>Order Ref.</th>
          <th>Order Date</th>
          <th>Name</th>
          <th>Email</th>
          <th>Amount</th>
          <td></td>
        </tr>
        <tr>
          <td>FOO</td>
          <td>FOO</td>
          <td>FOO</td>
          <td>FOO</td>
          <td>FOO</td>
          <td><%= link_to "Details" %></td>

        </tr>

        <tr>
          <td>FOO</td>
          <td>FOO</td>
          <td>FOO</td>
          <td>FOO</td>
          <td>FOO</td>
          <td><%= link_to "Details" %></td>

        </tr>
      </table>
    </div> 
  </div>

</div>