<div class="container">
<% @orders.each do |order| %>
  <div class="row title">
    <h2 class="order-title">Order: <%= order.order_ref %></h2>
  </div>

  <%= render 'order-review', order: order %>
  <%= render 'order-items', order: order %>
<% end %>


</div>