  <% provide(:title, "Home") %>

  <!-- Page Conent -->
  <header id="body-up">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">Tickets. Made. Easy.</h1>
        <hr>
        <% if current_user %>
          <!-- <h2>Check Out Upcoming Events By Clicking Below</h2><br>
          <%= link_to "Browse All Events", events_path, class: "btn btn-primary btn-xl" %> -->
        <% else %>
          <h2>Sign Up Now!</h2><br>
          <%= link_to "Sign Up!", signup_path, class: "btn btn-primary btn-xl" %>
        <% end %>
      </div>
    </div>
  </header>

  <aside class="bg-dark">
    <div class="container homepage">
      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-calendar"></i>
            <h3><%= link_to "Create Events", create_event_path %></h3>
            <p class="text-faded">Create your own private events</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-user-plus"></i>
            <h3><%= link_to "Create Tickets", create_event_path %></h3>
            <p class="text-faded">Create tickets for private events</p>
            <p class="text-faded">Stripe payment integration</p>
          </div>
        </div>
      </div>
    </div>
  </aside>