/*
	* This is a manifest file that'll be compiled into application.css, which will include all the files
 	* listed below.
 	*
 	Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
+ * vendor/assets/stylesheets directory can be referenced here using a relative path.
 	*
 	* You're free to add application-wide styles to this file and they'll appear at the bottom of the
 	* compiled file so the styles you add here take precedence over styles defined in any styles
 	* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 	* file per style scope.
 	*
 	*= require_tree .
	*= require_self
 	*/

 	@import "font-awesome-sprockets";
	 @import "font-awesome";
	 
	 .container {
		margin-left: 50px;
		margin-right: 50px;
		background-color: #F7F7F7;
		width: 90%;
	}

	.container.homepage {
		background-color: black;
	}

	.navbar-footer {
		color: black;
	}

	h3#events {
		margin-left: 100px;
	}

	.page-entries {
		margin-left: 200px;
	}
	
	hr.event-break {
		margin-left: 265px;
	}

	.password-note {
		margin-bottom: 10px;
	}
	
	#social-links{
	  text-align: center;
	  list-style: none;
	}
	#social-links li{
	  display: inline;
	  margin-right:  20px;
	}
	#errors{
	  list-style: none;
	  color: red;
	}
	#separator {
	  border-color: black;
	  border-width: 1px;
	  max-width: 100%;
	}
	textarea{
	  resize: none;
	}

	img.img-responsive {
			display: inline;
	}

	p.lead.wrap {
		margin-left: 150px;
	}
	.thumbnail.ticket {
		background-color: lightgreen;
	}

	.caption.ticket {
		height: 250px;
	}

	section#tickets.container {
		background-color: lightgray;
	}

	form#new_purchased_ticket {
		margin-top: 20px;
		font-size: 18px;
	}
	.pagebreak { page-break-before: always; } /* page-break-after works, as well */